{% load static %}

<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Password Reset</title>
  <meta name="description" content="Password Reset">
	<meta name="lanvilles" content="landville_devs">

</head>

<body>
	<div>
  <div>
	<hr>
</div>
<div class="content">
		<p>LandVille</p>
	<p style="
	margin-bottom: 40px;
	">
	  Someone has requested a password reset for your LandVille account.
		Click the button below to set a new password:
	</p>
	<a href="{{domain}}/auth/password-reset/?token={{token}}"><button class="reset-button" style ="
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #171039;
    color: #f0a311;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out,
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
">Reset Password</button></a>


	<p style="
	margin: 40px 0 60px 0;
	">
	If the button is not visible, copy and paste this in your browser:
	<br/>
	<a> {{domain}}/auth/password-reset/?token={{token}} </a>
	
	<br/>
	<br/>
	If you don't wish to reset your password, disregard this email and no action will be taken.

	</p>
	<p style="
	margin-bottom: 40px;
	">
	The LandVille team.

	</p>
</div>
	<hr style="
  	background: #EFEFEF;
  	border: #EFEFEF;
  	height: 1px;
">
<div class="footer" style="
  	color: #837E7C;
  	font: 14px Arial Narrow;
">
	<p style="
	margin-bottom: 40px;
	">
LandVille is a web platform that eases the pain of buying and selling properties in Nigeria
	</p>
</div>
</div>
</body>
</html>
