# Byte-compiled / optimized / DLL files
__pycache__/
# Distribution / packaging
.Python
.vscode
settings.json
# SQLite3
db.sqlite3
# python_ dotenv
.env
venv/
.venv/

# Unit test / coverage reports
.coverage
.DS_Store
htmlcov/

.idea/
staticfiles/
htmlcov/
# celery task
celerybeat-schedule
dump.rdb

# atomic commit message template

commit-message-template.md
# celery task
celerybeat-schedule
dump.rdb

# atomic commit message template

commit-message-template.md

